<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <table class="table">
        <tr>
          <th>name</th>
          <th class="profile-name">name</th>
        </tr>
        <tr>
          <th>introduction</th>
          <th class="profile-introduction">introduction</th>
        </tr>
      </table>
      <div class="row">
        <a class="btn btn-outline-sedondary btn-block fas fa-user-cog edit_user_id" href="/users/edit"></a>
      </div>

      <div class="row">
        <a class="btn"></a>
      </div>
      <h2>
        New book
      </h2>
      <%= form_with model: @book, local:true do |f| %>
        <h6>Title</h6>
        <%= f.text_field :title %>
        <h6>Option</h6>
        <%= f.text_area :option %>
        <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>


